<header id="header">
  <div class="div-image">
    <img src="/assets/logo.png" class="header-image"/>
  </div>
  <nav class="borderXwidth">
    <ul>
      <li><a href="/">Rooms</a></li>
      <li><a href="/reservas">Admin</a></li>
      <li><a href="/reservados">Reservas </a></li>
      <!-- Adicione outras opções de navegação conforme necessário -->
    </ul>
  </nav>
  <div class="div-image"></div>
</header>